<body>
    <footer class="footer">
        <div class="footer-main-section">
            <div class="footer-contact-section">
                <h1 class="footer-contact-section-title">Contact me</h1>
                    <div class="footer-contact-section-first-link">
                    <i class="bi bi-telephone-fill"></i>
                    <p>599 88 50 01</p>
                </div>
                    <div class="footer-contact-section-second-link">
                    <i class="bi bi-envelope-fill"></i>
                    <p (click)="sendEmail()" class="email-link">
                        nikalobjanidze014&#64;gmail.com
                      </p>                                      
                </div>
            </div>
              <!-- FOOTER LANGUAGES SECTION -->   <!-- FOOTER LANGUAGES SECTION -->   <!-- FOOTER LANGUAGES SECTION -->
              <div class="footer-languages-section">
                <h1 class="footer-languages-section-title">Languages</h1>
                <!-- COPYING SOME STYLES FROM HOME COMPONENT -->
                <!-- COPYING SOME STYLES FROM HOME COMPONENT -->
                <a class="footer-languages-section-icon-link" href="/html">
                    <div class="html-icon">               
                        <i class="devicon-html5-plain-wordmark colored"></i>
                   </div>
                   <P class="footer-languages-section-icon-link-text">HTML</P>
                </a>
                <a class="footer-languages-section-icon-link" href="/css">
                    <div class="css-icon">                             
                        <i class="devicon-css3-plain-wordmark colored"></i>
                  </div>
                  <P class="footer-languages-section-icon-link-text">CSS</P>
                </a>
                <a class="footer-languages-section-icon-link" href="/scss">
                    <div class="scss-icon">                             
                        <i class="devicon-sass-original colored"></i>
                     </div>
                     <P class="footer-languages-section-icon-link-text">SCSS</P>
                </a>
                <a class="footer-languages-section-icon-link" href="/javascript">
                    <div class="Javascript-icon">       
                        <i class="devicon-javascript-plain colored"></i>    
                       </div>
                       <P class="footer-languages-section-icon-link-text">JAVASCRIPT</P>
                </a>
                <a class="footer-languages-section-icon-link" href="/typescript">
                    <div class="Typescript-icon">
                        <i class="devicon-typescript-plain colored"></i>
                      </div>
                      <P class="footer-languages-section-icon-link-text">TYPESCRIPT</P>
                </a>
                <a class="footer-languages-section-icon-link" href="/Csharp">
                    <div class="Csharp-icon">
                        <i class="devicon-csharp-plain-wordmark colored"></i>
                    </div>
                    <P class="footer-languages-section-icon-link-text">C#</P>
                </a>
                <a class="footer-languages-section-icon-link" href="/sql">
                    <div class="Sql-icon">
                        <i class="devicon-azuresqldatabase-plain colored"></i>
                      </div>
                      <P class="footer-languages-section-icon-link-text">SQL</P>
                </a>
                <!-- COPYING SOME STYLES FROM HOME COMPONENT -->
                 <!-- COPYING SOME STYLES FROM HOME COMPONENT -->
            </div>
            <!-- FOOTER LANGUAGES SECTION -->   <!-- FOOTER LANGUAGES SECTION -->   <!-- FOOTER LANGUAGES SECTION -->
              <!-- FOOTER BACK-END PROJECTS SECTION -->   <!-- FOOTER BACK-END PROJECTS SECTION -->   <!-- FOOTER BACK-END PROJECTS SECTION -->
              <div class="footer-back-end-projects-section">
                <h1 class="footer-back-end-projects-section-title">Back-End</h1>
               <a class="footer-back-end-projects-section-link" href="https://github.com/Nikoloz911/E-Commerce"  target="_blank">             
                    <p>E-Commerce</p>
               </a>
               <a class="footer-back-end-projects-section-link" href="https://github.com/Nikoloz911/Wolt_ConsoleApp"  target="_blank">           
                   <p>Wolt_ConsoleApp</p>
               </a>
            </div>
             <!-- FOOTER BACK-END PROJECTS SECTION -->   <!-- FOOTER BACK-END PROJECTS SECTION -->   <!-- FOOTER BACK-END PROJECTS SECTION -->
            <!-- FOOTER FORNT-END PROJECTS SECTION -->   <!-- FOOTER FORNT-END PROJECTS SECTION -->   <!-- FOOTER FORNT-END PROJECTS SECTION -->
            <div class="footer-projects-section">
                <h1 class="footer-projects-section-title">Front-End</h1>
                <div class="footer-projects-link-container">
                    <a class="footer-projects-section-link"  target="_blank" href="https://emis-ge.vercel.app/">
                        <p>emis.ge</p>
                    </a>             
                </div>
                <div class="footer-projects-link-container">
                    <a class="footer-projects-section-link"  target="_blank" href="https://skolebi-emis-ge.vercel.app/">
                        <p>school.emis.ge</p>
                    </a>           
                </div>
                <div class="footer-projects-link-container">
                    <a class="footer-projects-section-link"  target="_blank" href="https://zoomerge.vercel.app/">
                        <p>zoomer.ge</p>
                    </a>          
                </div>
                <div class="footer-projects-link-container">
                <a class="footer-projects-section-link"  target="_blank" href="https://html-css-lobjo-1.netlify.app/">
                    <p>html-css-1</p>
                </a>    
                </div>
                <div class="footer-projects-link-container">
                <a class="footer-projects-section-link"  target="_blank" href="https://html-css-lobjo-2.netlify.app/">
                    <p>html-css-2</p>
                </a>
                </div>
            </div>
           <!-- FOOTER FORNT-END PROJECTS SECTION -->   <!-- FOOTER FORNT-END PROJECTS SECTION -->   <!-- FOOTER FORNT-END PROJECTS SECTION -->
            <!-- SOCIAL MEDIA SECTION -->    <!-- SOCIAL MEDIA SECTION -->    <!-- SOCIAL MEDIA SECTION -->
            <div class="footer-social-media-section">
              <h1 class="footer-social-media-section-title">Follow me</h1>
                <a class="footer-social-media-link" target="_blank" href="https://github.com/Nikoloz911">
                   <div class="footer-social-media-icon">
                    <i class="bi bi-github"></i>
                   </div>
                    <p>Nikoloz911</p>
                </a>
                <a class="footer-social-media-link" href="https://gitlab.com/Nikoloz911"  target="_blank">
                    <div class="footer-social-media-icon">
                        <i class="devicon-gitlab-plain"></i>
                       </div>
                        <p>Nikoloz911</p>
                   </a>
                <a class="footer-social-media-link"  target="_blank" href="https://www.facebook.com/nikolozlobjanidze911/">
                    <div class="footer-social-media-icon">
                        <i class="bi bi-facebook"></i>
                    </div>
                     <p>Nika Lobzhanidze</p>
                 </a>
                 <a class="footer-social-media-link"  target="_blank" href="https://www.instagram.com/nikalobjanidze014/">
                    <div class="footer-social-media-icon">
                        <i class="bi bi-instagram"></i>
                    </div>
                     <p>nikalobjanidze014</p>
                 </a>
                 <a class="footer-social-media-link"  target="_blank" href="https://www.linkedin.com/in/nikalobzhanidze/">
                    <div class="footer-social-media-icon">
                        <i class="bi bi-linkedin"></i>
                    </div>
                     <p>nika lobzhanidze</p>
                 </a>
            </div>
            <!-- SOCIAL MEDIA SECTION -->    <!-- SOCIAL MEDIA SECTION -->    <!-- SOCIAL MEDIA SECTION -->
        </div>
        <div class="footer-line"></div>
        <div class="footer-bottom-section">
            <p class="footer-text">© 2025 Nika Lobzhanidze | All Rights Reserved.</p>
        </div>
    </footer>
    
</body>
