body{
    height: 500px;
    border: solid 1px red;
    background: #00144f;
    background: linear-gradient(270deg,#00144f 0%, #000000 80%);
    background: -webkit-linear-gradient(270deg,#00144f 0%, #000000 80%);
    background: -moz-linear-gradient(270deg,#00144f 0%, #000000 80%);
}