<body>
    <footer class="footer">
        <div class="footer-main-section">
            <div class="footer-contact-section">
                <h1 class="footer-contact-section-title">Contact me</h1>
                    <div class="footer-contact-section-first-link">
                    <i class="bi bi-telephone-fill"></i>
                    <p>599 88 50 01</p>
                </div>
                    <div class="footer-contact-section-second-link">
                    <i class="bi bi-envelope-fill"></i>
                    <p (click)="sendEmail()" class="email-link">
                        nikalobjanidze014&#64;gmail.com
                      </p>                                      
                </div>
            </div>
            <!-- FOOTER LANGUAGES SECTION -->   <!-- FOOTER LANGUAGES SECTION -->   <!-- FOOTER LANGUAGES SECTION -->
            <div class="footer-check-out-section">
                <h1 class="footer-check-out-section-title">Check out</h1>
               <a class="footer-check-out-section-link" href="https://gitlab.com/Nikoloz911"  target="_blank">
                <div class="footer-check-out-section-icon">
                    <i class="devicon-gitlab-plain"></i>
                   </div>
                    <p>Nikoloz911</p>
               </a>
               <a class="footer-check-out-section-link" href="https://orcid.org/0009-0007-2863-5234"  target="_blank">
                    <img class="orcid-image" src="assets/images/orcid.logo.icon.svg" alt="">
                    <p class="orcid-title">ORCID</p>
               </a>
            </div>
            <!-- FOOTER LANGUAGES SECTION -->   <!-- FOOTER LANGUAGES SECTION -->   <!-- FOOTER LANGUAGES SECTION -->
            <!-- FOOTER PROJECTS SECTION -->    <!-- FOOTER PROJECTS SECTION -->    <!-- FOOTER PROJECTS SECTION -->
            <div class="footer-projects-section">
                <h1 class="footer-projects-section-title">Projects</h1>
                <div class="footer-projects-link-container">
                    <a class="footer-projects-section-link"  target="_blank" href="https://emis-ge.vercel.app/">
                        <p>emis.ge</p>
                    </a>
                   <div class="footer-projects-links-icon">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                   </div>
                </div>
                <div class="footer-projects-link-container">
                    <a class="footer-projects-section-link"  target="_blank" href="https://skolebi-emis-ge.vercel.app/">
                        <p>school.emis.ge</p>
                    </a>
                    <div class="footer-projects-links-icon">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                       </div>
                </div>
                <div class="footer-projects-link-container">
                    <a class="footer-projects-section-link"  target="_blank" href="https://zoomerge.vercel.app/">
                        <p>zoomer.ge</p>
                    </a>
                    <div class="footer-projects-links-icon">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                       </div>
                </div>
                <div class="footer-projects-link-container">
                <a class="footer-projects-section-link"  target="_blank" href="https://html-css-lobjo-1.netlify.app/">
                    <p>html-css-1</p>
                </a>
                <div class="footer-projects-links-icon">
                    <i class="bi bi-star-fill"></i>
                   </div>
                </div>
                <div class="footer-projects-link-container">
                <a class="footer-projects-section-link"  target="_blank" href="https://html-css-lobjo-2.netlify.app/">
                    <p>html-css-2</p>
                </a>
                <div class="footer-projects-links-icon">
                    <i class="bi bi-star-fill"></i>
                   </div>
                </div>
            </div>
            <!-- FOOTER PROJECTS SECTION -->    <!-- FOOTER PROJECTS SECTION -->    <!-- FOOTER PROJECTS SECTION -->
            <!-- SOCIAL MEDIA SECTION -->    <!-- SOCIAL MEDIA SECTION -->    <!-- SOCIAL MEDIA SECTION -->
            <div class="footer-social-media-section">
              <h1 class="footer-social-media-section-title">Follow me</h1>
                <a class="footer-social-media-link" target="_blank" href="https://github.com/Nikoloz911">
                   <div class="footer-social-media-icon">
                    <i class="bi bi-github"></i>
                   </div>
                    <p>Nikoloz911</p>
                </a>
                <a class="footer-social-media-link"  target="_blank" href="https://www.facebook.com/nikolozlobjanidze911/">
                    <div class="footer-social-media-icon">
                        <i class="bi bi-facebook"></i>
                    </div>
                     <p>Nika Lobzhanidze</p>
                 </a>
                 <a class="footer-social-media-link"  target="_blank" href="https://www.instagram.com/nikalobjanidze014/">
                    <div class="footer-social-media-icon">
                        <i class="bi bi-instagram"></i>
                    </div>
                     <p>nikalobjanidze014</p>
                 </a>
                 <a class="footer-social-media-link"  target="_blank" href="https://www.linkedin.com/in/nikalobzhanidze/">
                    <div class="footer-social-media-icon">
                        <i class="bi bi-linkedin"></i>
                    </div>
                     <p>nika lobzhanidze</p>
                 </a>
            </div>
            <!-- SOCIAL MEDIA SECTION -->    <!-- SOCIAL MEDIA SECTION -->    <!-- SOCIAL MEDIA SECTION -->
        </div>
        <div class="footer-line"></div>
        <div class="footer-bottom-section">
            <p class="footer-text">© 2025 Nika Lobzhanidze | All Rights Reserved.</p>
        </div>
    </footer>
    
</body>
