<app-nav-bar></app-nav-bar>
<body>
      <app-languages-nav-bar></app-languages-nav-bar>
    <header class="header">
    <a class="title-icon" href="/js">
        <div class="html-icon">               
            <i class="devicon-javascript-plain colored"></i>   
       </div>
    </a>
</header>
<div class="javascript-page">

</div>
<!-- <app-tr-footer></app-tr-footer> -->
</body>




<!-- This Is for Open Image-modal-component -->
<app-image-modal #imageModal></app-image-modal> 
<!-- This Is for Open Image-modal-component -->