<body>
    <app-nav-bar></app-nav-bar>
    <div class="projects-page">
      <!-- PROJECTS FIRST SECTION -->   <!-- PROJECTS FIRST SECTION -->   <!-- PROJECTS FIRST SECTION -->   <!-- PROJECTS FIRST SECTION -->
      <!-- PROJECTS FIRST SECTION -->   <!-- PROJECTS FIRST SECTION -->   <!-- PROJECTS FIRST SECTION -->   <!-- PROJECTS FIRST SECTION -->
      <!-- PROJECTS FIRST SECTION -->   <!-- PROJECTS FIRST SECTION -->   <!-- PROJECTS FIRST SECTION -->   <!-- PROJECTS FIRST SECTION -->
      <h1 class="projects-page-title">PROJECTS</h1>
      <section class="projects-first-section">
        <div class="container noselect" (click)="openLinkEmis()">
          <div class="canvas">
            <div class="tracker tr-1"></div>
            <div class="tracker tr-2"></div>
            <div class="tracker tr-3"></div>
            <div class="tracker tr-4"></div>
            <div class="tracker tr-5"></div>
            <div class="tracker tr-6"></div>
            <div class="tracker tr-7"></div>
            <div class="tracker tr-8"></div>
            <div class="tracker tr-9"></div>
            <div class="tracker tr-10"></div>
            <div class="tracker tr-11"></div>
            <div class="tracker tr-12"></div>
            <div class="tracker tr-13"></div>
            <div class="tracker tr-14"></div>
            <div class="tracker tr-15"></div>
            <div class="tracker tr-16"></div>
            <div class="tracker tr-17"></div>
            <div class="tracker tr-18"></div>
            <div class="tracker tr-19"></div>
            <div class="tracker tr-20"></div>
            <div class="tracker tr-21"></div>
            <div class="tracker tr-22"></div>
            <div class="tracker tr-23"></div>
            <div class="tracker tr-24"></div>
            <div class="tracker tr-25"></div>
            <div id="card">
              <img class="projects-first-section-image" src="assets/screenshots/Emis.png" alt="">
            </div>
          </div>
        </div>
        <div class="container noselect" (click)="openLinkSkolebi()">
          <div class="canvas">
            <div class="tracker tr-1"></div>
            <div class="tracker tr-2"></div>
            <div class="tracker tr-3"></div>
            <div class="tracker tr-4"></div>
            <div class="tracker tr-5"></div>
            <div class="tracker tr-6"></div>
            <div class="tracker tr-7"></div>
            <div class="tracker tr-8"></div>
            <div class="tracker tr-9"></div>
            <div class="tracker tr-10"></div>
            <div class="tracker tr-11"></div>
            <div class="tracker tr-12"></div>
            <div class="tracker tr-13"></div>
            <div class="tracker tr-14"></div>
            <div class="tracker tr-15"></div>
            <div class="tracker tr-16"></div>
            <div class="tracker tr-17"></div>
            <div class="tracker tr-18"></div>
            <div class="tracker tr-19"></div>
            <div class="tracker tr-20"></div>
            <div class="tracker tr-21"></div>
            <div class="tracker tr-22"></div>
            <div class="tracker tr-23"></div>
            <div class="tracker tr-24"></div>
            <div class="tracker tr-25"></div>
            <div id="card">
              <img class="projects-first-section-image" src="assets/screenshots/school.emis.png" alt="">
            </div>
          </div>
        </div>
        <div class="container noselect" (click)="openLinkZoomer()">
          <div class="canvas">
            <div class="tracker tr-1"></div>
            <div class="tracker tr-2"></div>
            <div class="tracker tr-3"></div>
            <div class="tracker tr-4"></div>
            <div class="tracker tr-5"></div>
            <div class="tracker tr-6"></div>
            <div class="tracker tr-7"></div>
            <div class="tracker tr-8"></div>
            <div class="tracker tr-9"></div>
            <div class="tracker tr-10"></div>
            <div class="tracker tr-11"></div>
            <div class="tracker tr-12"></div>
            <div class="tracker tr-13"></div>
            <div class="tracker tr-14"></div>
            <div class="tracker tr-15"></div>
            <div class="tracker tr-16"></div>
            <div class="tracker tr-17"></div>
            <div class="tracker tr-18"></div>
            <div class="tracker tr-19"></div>
            <div class="tracker tr-20"></div>
            <div class="tracker tr-21"></div>
            <div class="tracker tr-22"></div>
            <div class="tracker tr-23"></div>
            <div class="tracker tr-24"></div>
            <div class="tracker tr-25"></div>
            <div id="card">
              <img class="projects-first-section-image" src="assets/screenshots/zoomer.png" alt="">
            </div>
          </div>
        </div>
        <div class="container noselect"  (click)="openLinkFigma()">
          <div class="canvas">
            <div class="tracker tr-1"></div>
            <div class="tracker tr-2"></div>
            <div class="tracker tr-3"></div>
            <div class="tracker tr-4"></div>
            <div class="tracker tr-5"></div>
            <div class="tracker tr-6"></div>
            <div class="tracker tr-7"></div>
            <div class="tracker tr-8"></div>
            <div class="tracker tr-9"></div>
            <div class="tracker tr-10"></div>
            <div class="tracker tr-11"></div>
            <div class="tracker tr-12"></div>
            <div class="tracker tr-13"></div>
            <div class="tracker tr-14"></div>
            <div class="tracker tr-15"></div>
            <div class="tracker tr-16"></div>
            <div class="tracker tr-17"></div>
            <div class="tracker tr-18"></div>
            <div class="tracker tr-19"></div>
            <div class="tracker tr-20"></div>
            <div class="tracker tr-21"></div>
            <div class="tracker tr-22"></div>
            <div class="tracker tr-23"></div>
            <div class="tracker tr-24"></div>
            <div class="tracker tr-25"></div>
            <div id="card">
              <img class="projects-first-section-image" src="assets/screenshots/html-css-1.png" alt="">
            </div>
          </div>
        </div>
        <div class="container noselect" (click)="openLinkDoctor()">
          <div class="canvas">
            <div class="tracker tr-1"></div>
            <div class="tracker tr-2"></div>
            <div class="tracker tr-3"></div>
            <div class="tracker tr-4"></div>
            <div class="tracker tr-5"></div>
            <div class="tracker tr-6"></div>
            <div class="tracker tr-7"></div>
            <div class="tracker tr-8"></div>
            <div class="tracker tr-9"></div>
            <div class="tracker tr-10"></div>
            <div class="tracker tr-11"></div>
            <div class="tracker tr-12"></div>
            <div class="tracker tr-13"></div>
            <div class="tracker tr-14"></div>
            <div class="tracker tr-15"></div>
            <div class="tracker tr-16"></div>
            <div class="tracker tr-17"></div>
            <div class="tracker tr-18"></div>
            <div class="tracker tr-19"></div>
            <div class="tracker tr-20"></div>
            <div class="tracker tr-21"></div>
            <div class="tracker tr-22"></div>
            <div class="tracker tr-23"></div>
            <div class="tracker tr-24"></div>
            <div class="tracker tr-25"></div>
            <div id="card">
              <img class="projects-first-section-image" src="assets/screenshots/html-css-2.png" alt="">
            </div>
          </div>
        </div>
      </section>
      <!-- PROJECTS FIRST SECTION -->   <!-- PROJECTS FIRST SECTION -->   <!-- PROJECTS FIRST SECTION -->   <!-- PROJECTS FIRST SECTION -->
      <!-- PROJECTS FIRST SECTION -->   <!-- PROJECTS FIRST SECTION -->   <!-- PROJECTS FIRST SECTION -->   <!-- PROJECTS FIRST SECTION -->
      <!-- PROJECTS FIRST SECTION -->   <!-- PROJECTS FIRST SECTION -->   <!-- PROJECTS FIRST SECTION -->   <!-- PROJECTS FIRST SECTION -->
        <!-- PROJECTS SECOND SECTION -->   <!-- PROJECTS SECOND SECTION -->   <!-- PROJECTS SECOND SECTION -->   <!-- PROJECTS SECOND SECTION -->
        <!-- PROJECTS SECOND SECTION -->   <!-- PROJECTS SECOND SECTION -->   <!-- PROJECTS SECOND SECTION -->   <!-- PROJECTS SECOND SECTION -->
        <!-- PROJECTS SECOND SECTION -->   <!-- PROJECTS SECOND SECTION -->   <!-- PROJECTS SECOND SECTION -->   <!-- PROJECTS SECOND SECTION -->
         <h1 class="projects-second-section-title">Projects Details</h1>
        <section class="projects-second-section">
          <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->
          <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->
            <a class="project-link" href="https://emis-ge.vercel.app/" target="_blank">
            <div class="project-second-section-card-container">
                <img class="projects-second-section-card-container-image" src="assets/screenshots/Emis.png" alt="">
                <h1>Emis.ge</h1>
                <ul class="project-details">
                    <li>
                      <strong>Has API:</strong>
                      <span>YES</span>
                    </li>
                    <li>
                      <strong>Tech Stack:</strong>
                      <span>Angular</span>
                    </li>
                    <li>
                      <strong>Design:</strong>
                      <span>Inspired by Real Website</span>
                    </li>
                    <li>
                        <strong>Responsive:</strong>
                        <span>Fully Responsive</span>
                      </li>                
                  </ul>                      
            </div>
        </a>
          <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->
          <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->
             <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->
          <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->
          <a class="project-link" href="https://skolebi-emis-ge.vercel.app/" target="_blank">
            <div class="project-second-section-card-container">
                <img class="projects-second-section-card-container-image" src="assets/screenshots/school.emis.png" alt="">
                <h1>skolebi.emis.ge</h1>
                <ul class="project-details">
                    <li>
                      <strong>Has API:</strong>
                      <span>NO</span>
                    </li>
                    <li>
                      <strong>Tech Stack:</strong>
                      <span>Angular</span>
                    </li>
                    <li>
                      <strong>Design:</strong>
                      <span>Inspired by Real Website</span>
                    </li>
                    <li>
                        <strong>Responsive:</strong>
                        <span>Not Responsive</span>
                      </li>         
                  </ul>                      
            </div>
        </a>
          <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->
          <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->
                 <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->
          <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->
          <a class="project-link" href="https://zoomerge.vercel.app/" target="_blank">
            <div class="project-second-section-card-container">
                <img class="projects-second-section-card-container-image" src="assets/screenshots/zoomer.png" alt="">
                <h1>zoomer.ge</h1>
                <ul class="project-details">
                    <li>
                      <strong>Has API:</strong>
                      <span>YES</span>
                    </li>
                    <li>
                      <strong>Tech Stack:</strong>
                      <span>Html,Css, Javascript</span>
                    </li>
                    <li>
                      <strong>Design:</strong>
                      <span>Inspired by Real Website</span>
                    </li>
                    <li>
                        <strong>Responsive:</strong>
                        <span>Not Responsive</span>
                      </li>      
                  </ul>                      
            </div>
        </a>
          <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->
          <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->
                 <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->
          <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->
          <a class="project-link" href="https://html-css-lobjo-2.netlify.app/" target="_blank">
            <div class="project-second-section-card-container">
                <img class="projects-second-section-card-container-image" src="assets/screenshots/html-css-2.png" alt="">
                <h1>Doctor Website Template</h1>
                <ul class="project-details">
                    <li>
                      <strong>Has API:</strong>
                      <span>NO</span>
                    </li>
                    <li>
                      <strong>Tech Stack:</strong>
                      <span>Html, css</span>
                    </li>
                    <li>
                      <strong>Design:</strong>
                      <span>Inspired by Real Website</span>
                    </li>
                    <li>
                        <strong>Responsive:</strong>
                        <span>Not Responsive</span>
                      </li>           
                  </ul>                      
            </div>
        </a>
          <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->
          <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->
                   <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->
          <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->
          <a class="project-link" href="https://html-css-lobjo-1.netlify.app/" target="_blank">
            <div class="project-second-section-card-container">
                <img class="projects-second-section-card-container-image" src="assets/screenshots/html-css-1.png" alt="">
                <h1>Figma Template</h1>
                <ul class="project-details">
                    <li>
                      <strong>Has API:</strong>
                      <span>NO</span>
                    </li>
                    <li>
                      <strong>Tech Stack:</strong>
                      <span>Html, css</span>
                    </li>
                    <li>
                      <strong>Design:</strong>
                      <span>Inspired by Figma.com</span>
                    </li>
                    <li>
                        <strong>Responsive:</strong>
                        <span>NOT Responsive</span>
                      </li>         
                  </ul>                      
            </div>
        </a>
          <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->
          <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->   <!-- Project CARD  -->
        </section>
        <!-- PROJECTS SECOND SECTION -->   <!-- PROJECTS SECOND SECTION -->   <!-- PROJECTS SECOND SECTION -->   <!-- PROJECTS SECOND SECTION -->
        <!-- PROJECTS SECOND SECTION -->   <!-- PROJECTS SECOND SECTION -->   <!-- PROJECTS SECOND SECTION -->   <!-- PROJECTS SECOND SECTION -->
        <!-- PROJECTS SECOND SECTION -->   <!-- PROJECTS SECOND SECTION -->   <!-- PROJECTS SECOND SECTION -->   <!-- PROJECTS SECOND SECTION -->
    </div>
</body>
<app-footer></app-footer>