<body>
    <app-nav-bar></app-nav-bar>
    <div class="projects-page">
        <section class="projects-first-section">
            
        </section>
        <section class="projects-second-section">

            <a class="project-link" href="" target="_blank">
            <div class="project-second-section-card-container">
                <img class="projects-second-section-card-container-image" src="assets/screenshots/Emis.png" alt="">
                <h1>Emis.ge</h1>
                <ul class="project-details">
                    <li>
                      <strong>Has API:</strong>
                      <span>YES</span>
                    </li>
                    <li>
                      <strong>Tech Stack:</strong>
                      <span>Angular</span>
                    </li>
                    <li>
                      <strong>Design:</strong>
                      <span>Inspired by Real Website</span>
                    </li>
                    <li>
                        <strong>Responsive:</strong>
                        <span>Fully Responsive</span>
                      </li>
                    <li>
                      <strong>Time Spent:</strong>
                      <span>1 Months</span>
                    </li>
                  </ul>       
                 
            </div>
        </a>

        </section>
    </div>
</body>
<app-footer></app-footer>