<app-nav-bar></app-nav-bar>
<body>
      <app-languages-nav-bar></app-languages-nav-bar>
    <header class="header">
    <a class="title-icon" href="/scss">
        <div class="html-icon">               
            <i class="devicon-sass-original colored"></i>
       </div>
    </a>
</header>
    <div class="scss-page">
        <div class="scss-page-first-section">
            <div class="scss-page-first-section-description-side">
                <p class="scss-page-first-description">I have extensive experience with SCSS and know how to use mixins effectively to make styling more reusable and efficient. I also love creating beautiful animations, leveraging various helpful resources to enhance user experience. With every Angular project I work on, my SCSS knowledge expands, and I continuously learn new techniques.

                    One of the best things about SCSS is its ability to handle :hover, ::before, and ::after selectors seamlessly within the same block. This makes my code cleaner and easier to maintain compared to writing these styles separately.</p>
            </div>
            <div class="scss-page-first-section-images-side">
                <img (click)="openImage('assets/code/Screenshot-8.png')"  class="scss-page-first-image" src="/assets/code/Screenshot-8.png" alt="Image">
                <div class="first-image-icon"><i class="bi bi-aspect-ratio"></i></div>
                <img (click)="openImage('assets/code/Screenshot-9.png')"  class="scss-page-second-image" src="/assets/code/Screenshot-9.png" alt="Image">
                <div class="second-image-icon"><i class="bi bi-aspect-ratio"></i></div>
                <img (click)="openImage('assets/code/Screenshot-10.png')"  class="scss-page-third-image" src="/assets/code/Screenshot-10.png" alt="Image">
                <div class="third-image-icon"><i class="bi bi-aspect-ratio"></i></div>
            </div>
        </div>
        <div class="scss-page-second-section">
             <div class="scss-page-second-section-description-side">
                <p class="scss-page-second-description">SCSS often requires a lot of code, especially when styling complex and responsive web pages. From the very beginning, I learned the importance of using comments in my SCSS files. When the code gets more intricate, these comments help me and other developers to understand the structure and logic more easily. That’s why in every SCSS file I work on, I make sure to write clear and useful comments to keep things organized. A project where I gained a lot of experience in SCSS was Emis.ge. You can check it out on my GitHub</p>
            </div>
            <div class="scss-page-second-section-images-side">
                <img (click)="openImage('assets/code/Screenshot-11.png')"  class="scss-page-fourth-image" src="/assets/code/Screenshot-11.png" alt="Image">
                <div class="fourth-image-icon"><i class="bi bi-aspect-ratio"></i></div>
                <img (click)="openImage('assets/code/Screenshot-12.png')"  class="scss-page-fifth-image" src="/assets/code/Screenshot-12.png" alt="Image">
                <div class="fifth-image-icon"><i class="bi bi-aspect-ratio"></i></div>   
            </div>
        </div>
    </div>
<app-tr-footer></app-tr-footer>
</body>


<!-- This Is for Open Image-modal-component -->
<app-image-modal #imageModal></app-image-modal> 
<!-- This Is for Open Image-modal-component -->