/// ANIMATIONS   /// ANIMATIONS  /// ANIMATIONS  /// ANIMATIONS  /// ANIMATIONS

@keyframes colorSwitch {
    0% {
      background: linear-gradient(to right, #70c7ff,  #5bc0ff);
    }
    25% {
      background: linear-gradient(to right, #70ccff, #5bc0ff);
    }
    50% {
      background: linear-gradient(to right, #8cc9ef, #3fb4fc);
    }
    75% {
      background: linear-gradient(to right, #92c3de, #379cdb);
    }
    100% {
      background: linear-gradient(to right, #82b0cc,  #3e9cd6);
    }
  }

/// ANIMATIONS   /// ANIMATIONS  /// ANIMATIONS  /// ANIMATIONS  /// ANIMATIONS

@mixin Flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin tools-section-first-container-icon-Styles{
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 5px;
  font-family: monospace;
  color: #fff;
  font-size: 20px;
  gap: 20px;
  transition: 500ms;
}
body{
    height: 1500px;
    width: 100%;
    background: #040000;
    background: linear-gradient(270deg,#040000 0%, #00114f 80%);
    background: -webkit-linear-gradient(270deg,#040000 0%, #00114f 80%);
    background: -moz-linear-gradient(270deg,#040000 0%, #00114f 80%);
    .home-page{
        display: flex;
        width: 100%;
        height: 800px;
        .home-page-left-side{
            width: 40%;
            margin-top: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .home-page-title{
                color: #Fff;
                font-family: sans-serif;
                margin-top: 50px;
            }
            .home-page-image{
                width: 200px;
                height: 200px;
                border: solid 1px black;
                border-radius: 50%;
                margin-top: 50px;
            }
            .home-page-title-description{
                color: #Fff;
                font-family: sans-serif;
                margin-top: 50px;
            }
          
            .home-page-left-side-button{
                cursor: pointer;
                background-color: rgb(255, 255, 255);
                border: solid 1px rgb(0, 17, 59);
                border-radius: 25px;
                width: 220px;
                height: 45px;
                color: #000;
                margin-top: 50px;
                font-size: 20px;
                animation: colorSwitch 4s infinite alternate; 
                transition: 500ms;
                &:hover{
                    background-color: #0024a4;
                    border: solid 1px black;
                    color: #fff;
                    box-shadow: 0px -1px 11px 0px rgba(0,117,255,0.75);
                    -webkit-box-shadow: 0px -1px 11px 0px rgba(0,117,255,0.75);
                    -moz-box-shadow: 0px -1px 11px 0px rgba(0,117,255,0.75);
                }
            }      
        }
        .home-page-right-side{
            width: 60%;
            border: solid 5px rgba(0, 17, 79, 0.413);
            border-right: none;
            border-radius: 5px;
            margin-top: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .home-page-right-side-title{
                color: #fff;
                font-family: cursive;
                margin-bottom: 50px;
            }
            .home-page-right-side-icons-container{
                width: 80%;
                height: 80%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .home-page-right-side-icons-container-top-side-title{
                  margin-top: 60px;
                  color: #fff;
                  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                }
                .home-page-right-side-icons-container-top-side{
                  width: 100%;
                  height: 150px;
                  margin-top: 10px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  gap: 30px;
                  .icon-Link {
                      height: 100px;
                      text-decoration: none; 
                      display: inline-block;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      .html-icon i {
                          font-size: 100px; 
                          transition: transform 0.3s ease, color 0.3s ease;
                          &:hover{
                              color: #fe2600;
                          }
                      }   
                      .css-icon i{
                        font-size: 100px;
                        transition: transform 0.3s ease, color 0.3s ease;
                          &:hover{
                              color: rgb(0, 145, 255);
                          }
                      }
                      .scss-icon i{
                        font-size: 100px;
                        transition: transform 0.3s ease, color 0.3s ease;
                        &:hover{
                          color: rgb(247, 0, 247);
                      }
                      }
                      .Javascript-icon i {
                        font-size: 100px;
                        transition: transform 0.3s ease, color 0.3s ease;
                        &:hover{
                          color: rgb(221, 233, 0);
                      }
                       }
                       .Typescript-icon i{
                        font-size: 100px;
                        transition: transform 0.3s ease, color 0.3s ease;
                        &:hover{
                          color: rgb(0, 197, 246);
                      }
                       }
                  }
                }
              .home-page-right-side-icons-container-bottom-side-title{
                color: #fff;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                margin-top: 40px;
              }
                .home-page-right-side-icons-container-bottom-side{
                  width: 100%;
                  height: 150px;
                  margin-top: 20px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  gap: 30px;
                  .icon-Link{
                    height: 100px;
                    text-decoration: none; 
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .Csharp-icon i{
                      font-size: 100px;
                      transition: transform 0.3s ease, color 0.3s ease;
                      &:hover{
                        color: rgb(234, 251, 255);
                    }
                    }
                    .Sql-icon i{
                      font-size: 110px;
                      transition: transform 0.3s ease, color 0.3s ease;
                      &:hover{
                        color: rgb(37, 215, 255);
                    }
                    }
                  }
                }
                      
            }
        }
    }
    /// WEBSITES AND FRAMEWORKS SECTION   /// WEBSITES AND FRAMEWORKS SECTION   /// WEBSITES AND FRAMEWORKS SECTION
  .tools-section{
    height: 600px;
    .tools-section-title{
      color: #fff;
      font-family: cursive;
      text-align: center;
      margin-top: 50px;
    }
    .tools-section-container{
      border: solid 2px blue;
      height: 500px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      /// TOOLS SECTION FIRST CONTAINER  /// TOOLS SECTION FIRST CONTAINER  /// TOOLS SECTION FIRST CONTAINER
      .tools-section-first-container{
        height: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        gap: 50px;
        /// FIRST ICON LINK   /// FIRST ICON LINK  /// FIRST ICON LINK  /// FIRST ICON LINK
        .tools-section-first-container-first-icon-link{
          border: solid 2px rgb(255, 255, 255);
          width: 180px;
           @include tools-section-first-container-icon-Styles();
          .github-icon i{
            font-size: 50px;
            color: white;
            transition: 500ms;
            &:hover{
              color: rgb(0, 136, 255);
            }
          }
          &:hover{
            color: rgb(0, 136, 255);
            box-shadow: 1px 1px 20px 2px rgba(255,255,255,0.75);
           -webkit-box-shadow: 1px 1px 20px 2px rgba(255,255,255,0.75);
            -moz-box-shadow: 1px 1px 20px 2px rgba(255,255,255,0.75);
          }
        }
          /// FIRST ICON LINK   /// FIRST ICON LINK  /// FIRST ICON LINK  /// FIRST ICON LINK
          /// SECOND ICON LINK /// SECOND ICON LINK /// SECOND ICON LINK /// SECOND ICON LINK
          .tools-section-first-container-second-icon-link{
            border: solid 2px rgb(128, 0, 255);
            width: 200px;
            @include tools-section-first-container-icon-Styles();
            .bootstrap-icon i{
              font-size: 50px;  
              transition: 500ms;
              &:hover{
                color: rgb(60, 0, 255);
              }
            }
            &:hover{
              color: rgb(98, 0, 218);
              box-shadow: 1px 1px 20px 2px rgba(91,0,207,0.75);
              -webkit-box-shadow: 1px 1px 20px 2px rgba(91,0,207,0.75);
              -moz-box-shadow: 1px 1px 20px 2px rgba(91,0,207,0.75);
            }
          }
          /// SECOND ICON LINK /// SECOND ICON LINK /// SECOND ICON LINK /// SECOND ICON LINK
          /// THIRD ICON LINK /// THIRD ICON LINK /// THIRD ICON LINK /// THIRD ICON LINK
          .tools-section-first-container-third-icon-link{
            border: solid 2px rgb(0, 99, 50);
            border-radius: 5px;
            width: 180px;
            @include tools-section-first-container-icon-Styles();
            .devicon-icon i{
              font-size: 50px;  
              transition: 500ms;
              &:hover{
                color: rgb(0, 255, 145);
              }
            }
            &:hover{
              color: rgb(0, 218, 131);
              box-shadow: 1px 1px 20px 2px rgba(0,207,92,0.75);
              -webkit-box-shadow: 1px 1px 20px 2px rgba(0,207,92,0.75);
              -moz-box-shadow: 1px 1px 20px 2px rgba(0,207,92,0.75);
            }
          }
          /// THIRD ICON LINK /// THIRD ICON LINK /// THIRD ICON LINK /// THIRD ICON LINK
        /// FOURTH ICON LINK    /// FOURTH ICON LINK    /// FOURTH ICON LINK
        .tools-section-first-container-fourth-icon-link{
          border: solid 2px rgb(94, 170, 0);
          width: 250px;
          @include tools-section-first-container-icon-Styles();
          .Css-Generator-image{
            scale: 170%;
          }
          &:hover{
            color: rgba(146,222,0,0.75);
            box-shadow: -1px 0px 20px 6px rgba(146,222,0,0.75);
            -webkit-box-shadow: -1px 0px 20px 6px rgba(146,222,0,0.75);
            -moz-box-shadow: -1px 0px 20px 6px rgba(146,222,0,0.75);
          }
        }
        /// FOURTH ICON LINK    /// FOURTH ICON LINK    /// FOURTH ICON LINK
        /// FIFTH ICON LINK   /// FIFTH ICON LINK   /// FIFTH ICON LINK
        .tools-section-first-container-fifth-icon-link{
          border: solid 2px rgb(31, 33, 122);
          width: 220px;
          @include tools-section-first-container-icon-Styles();
          .uiverse-io-image{
            scale: 170%;
          }
          &:hover{
            color:  rgba(107,84,255,0.75);
            box-shadow: 1px 1px 23px 4px rgba(107,84,255,0.75);
            -webkit-box-shadow: 1px 1px 23px 4px rgba(107,84,255,0.75);
            -moz-box-shadow: 1px 1px 23px 4px rgba(107,84,255,0.75);
          }
        }
         /// FIFTH ICON LINK   /// FIFTH ICON LINK   /// FIFTH ICON LINK
         /// SIXTH ICON LINK /// SIXTH ICON LINK /// SIXTH ICON LINK
         .tools-section-first-container-sixth-icon-link{
          border: solid 2px rgba(233, 234, 255, 0.534);
          width: 220px;
          @include tools-section-first-container-icon-Styles();
          .colors-co-image{
            scale: 170%;
          }
          &:hover{
            color: #ddd;
            box-shadow: 1px 1px 23px 4px rgba(199,199,199,0.75);
            -webkit-box-shadow: 1px 1px 23px 4px rgba(199,199,199,0.75);
            -moz-box-shadow: 1px 1px 23px 4px rgba(199,199,199,0.75);
          }
        }
         /// SIXTH ICON LINK /// SIXTH ICON LINK /// SIXTH ICON LINK 
      }
      /// TOOLS SECTION FIRST CONTAINER  /// TOOLS SECTION FIRST CONTAINER  /// TOOLS SECTION FIRST CONTAINER
      /// TOOLS SECTION SECOND CONTAINER   /// TOOLS SECTION SECOND CONTAINER   /// TOOLS SECTION SECOND CONTAINER 
      .tools-section-second-container{
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;
        /// FIRST ICON LINK  /// FIRST ICON LINK   /// FIRST ICON LINK
        .tools-section-second-container-first-icon-link{
          @include tools-section-first-container-icon-Styles();
          border: solid 2px rgb(255, 240, 213);
          width: 200px;
          .tools-section-second-container-first-Image{
            scale: 150%;
          }
          &:hover{
            color: #ffecbd;
            box-shadow: 0px 0px 18px 3px rgba(255,195,107,0.75);
            -webkit-box-shadow: 0px 0px 18px 3px rgba(255,195,107,0.75);
            -moz-box-shadow: 0px 0px 18px 3px rgba(255,195,107,0.75);
          }
        }
        /// FIRST ICON LINK  /// FIRST ICON LINK   /// FIRST ICON LINK
        /// SECOND ICON LINK  /// SECOND ICON LINK  /// SECOND ICON LINK
        .tools-section-second-container-second-icon-link{
          @include tools-section-first-container-icon-Styles();
          border: solid 2px rgb(205, 255, 118);
          width: 240px;
          .tools-section-second-container-second-Image{
            scale: 170%;
          }
          &:hover{
            color: #cfff82;
            box-shadow: 0px 0px 18px 3px rgba(190,255,107,0.75);
            -webkit-box-shadow: 0px 0px 18px 3px rgba(190,255,107,0.75);
            -moz-box-shadow: 0px 0px 18px 3px rgba(190,255,107,0.75);
          }
        }
        /// SECOND ICON LINK  /// SECOND ICON LINK  /// SECOND ICON LINK
        /// THIRD ICON LINK  /// THIRD ICON LINK  /// THIRD ICON LINK
        .tools-section-second-container-third-icon-link{
          @include tools-section-first-container-icon-Styles();
          border: solid 2px rgb(3, 0, 171);
          width: 180px;
          .tools-section-second-container-third-Image{
            scale: 170%;
            
          }
          &:hover{
            color: #304fff;
            box-shadow: 0px 0px 29px 3px rgba(0,0,0,0.75);
            -webkit-box-shadow: 0px 0px 29px 3px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 29px 3px rgba(0,0,0,0.75);
          }
        }
        /// THIRD ICON LINK  /// THIRD ICON LINK  /// THIRD ICON LINK
      }
      /// TOOLS SECTION SECOND CONTAINER   /// TOOLS SECTION SECOND CONTAINER   /// TOOLS SECTION SECOND CONTAINER 
      /// TOOLS SECTION THIRD CONTAINER /// TOOLS SECTION THIRD CONTAINER  /// TOOLS SECTION THIRD CONTAINER 
      .Framework-section-title{
        text-align: center;
        margin-top: 30px;
        color: #fff;
        font-family: cursive;
      }
      .tools-section-third-container{
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;
        /// FIRST FRAMEWORK LINK   /// FIRST FRAMEWORK LINK    /// FIRST FRAMEWORK LINK
        .tools-section-third-container-first-icon-link{
          border: solid 2px rgb(201, 0, 198);
          width: 180px;
           @include tools-section-first-container-icon-Styles();
          .angular-icon i{
            font-size: 50px;
            transition: 500ms;
            &:hover{
             color: rgb(255, 192, 248);
            }
          }
          &:hover{
            color: rgb(255, 39, 248);
            box-shadow: 0px 0px 32px 3px rgba(194,0,188,0.75);
            -webkit-box-shadow: 0px 0px 32px 3px rgba(194,0,188,0.75);
            -moz-box-shadow: 0px 0px 32px 3px rgba(194,0,188,0.75);
          }
        }
        /// FIRST FRAMEWORK LINK   /// FIRST FRAMEWORK LINK    /// FIRST FRAMEWORK LINK
        /// SECOND FRAMEWORK LINK   /// SECOND FRAMEWORK LINK   /// SECOND FRAMEWORK LINK
        .tools-section-third-container-second-icon-link{
          border: solid 2px rgb(141, 0, 201);
          width: 180px;
           @include tools-section-first-container-icon-Styles();
         .tools-section-third-container-first-image{
          scale: 150%;
         }
          &:hover{
            color: rgb(162, 0, 255);
            box-shadow: 0px 0px 32px 3px rgba(172,0,255,0.75);
            -webkit-box-shadow: 0px 0px 32px 3px rgba(172,0,255,0.75);
            -moz-box-shadow: 0px 0px 32px 3px rgba(172,0,255,0.75);
          }
        }
        /// SECOND FRAMEWORK LINK   /// SECOND FRAMEWORK LINK   /// SECOND FRAMEWORK LINK
        /// THIRD FRAMEWORK LINK  /// THIRD FRAMEWORK LINK   /// THIRD FRAMEWORK LINK
        .tools-section-third-container-third-icon-link{
          border: solid 2px rgb(234, 185, 255);
          width: 280px;
           @include tools-section-first-container-icon-Styles();
         .tools-section-third-container-second-image{
          scale: 120%;
         }
          &:hover{
            color: rgb(216, 148, 255);
            box-shadow: 0px 0px 32px 3px rgba(218,145,255,0.75);
            -webkit-box-shadow: 0px 0px 32px 3px rgba(218,145,255,0.75);
            -moz-box-shadow: 0px 0px 32px 3px rgba(218,145,255,0.75);
          }
        }
        /// THIRD FRAMEWORK LINK  /// THIRD FRAMEWORK LINK   /// THIRD FRAMEWORK LINK
        
      }
      /// TOOLS SECTION THIRD CONTAINER /// TOOLS SECTION THIRD CONTAINER  /// TOOLS SECTION THIRD CONTAINER 
    }
  }
    /// WEBSITES AND FRAMEWORKS SECTION   /// WEBSITES AND FRAMEWORKS SECTION   /// WEBSITES AND FRAMEWORKS SECTION
       
}

