<body>
    <app-nav-bar></app-nav-bar>
    <div class="home-page">
        <div class="home-page-left-side">
            <h1 class="home-page-title">Nikoloz Lobzhanidze</h1>
            <img class="home-page-image" src="/assets/images/ProfilePictureDark.jpg" alt="">
            <h1 class="home-page-title-description">FullStack Developer</h1>
            <a href="/Projects"><button class="home-page-left-side-button">Projects       
            </button>
            </a>
        </div>
     
        <div class="home-page-right-side">
            <h1 class="home-page-right-side-title">Languages</h1>
            <div class="home-page-right-side-icons-container">
              <h1 class="home-page-right-side-icons-container-top-side-title">Front-End</h1>
              <div class="home-page-right-side-icons-container-top-side">
                <a class="icon-Link" href="">
                  <div class="html-icon">               
                       <i class="devicon-html5-plain-wordmark colored"></i>
                  </div>
              </a>
              <a class="icon-Link" href="">
                  <div class="css-icon">                             
                       <i class="devicon-css3-plain-wordmark colored"></i>
                 </div>
              </a>
                 <a class="icon-Link" href="">
                 <div class="scss-icon">                             
                      <i class="devicon-sass-original colored"></i>
                   </div>
                  </a>
                   <a class="icon-Link" href="">
                  <div class="Javascript-icon">       
                     <i class="devicon-javascript-plain colored"></i>    
                    </div>
                  </a>
                    <a class="icon-Link" href="">
                    <div class="Typescript-icon">
                      <i class="devicon-typescript-plain colored"></i>
                    </div>
                  </a>
              </div>
             <h1 class="home-page-right-side-icons-container-bottom-side-title">Back-End</h1>
              <div class="home-page-right-side-icons-container-bottom-side">
                <a class="icon-Link" href="">
                    <div class="Csharp-icon">
                        <i class="devicon-csharp-plain-wordmark colored"></i>
                    </div>
                  </a>
                  <a class="icon-Link" href="">
                    <div class="Sql-icon">
                      <i class="devicon-azuresqldatabase-plain colored"></i>
                    </div>
                  </a>
              </div>
            </div>   
        </div>
    </div>
    <!-- 
            <i class="devicon-angular-plain colored"></i>

            
            <i class="devicon-tailwindcss-original colored"></i>
          
           -->
    <section class="tools-section">
       <h1 class="tools-section-title">Tools & Websites</h1>
       <div class="tools-section-container">
         <div class="tools-section-first-container">
              <a class="tools-section-first-container-first-icon-link" href="https://github.com/">
                <div class="github-icon">
                  <i class="devicon-github-original"></i>
                </div>
                <p>Github</p>
              </a>
              <a class="tools-section-first-container-second-icon-link" href="https://getbootstrap.com/">
                <div class="bootstrap-icon">                 
                  <i class="devicon-bootstrap-plain colored"></i>
                </div>
                <p>Bootstrap</p>
              </a>
              <a class="tools-section-first-container-third-icon-link" href="https://devicon.dev/">
                <div class="devicon-icon">  
                  <i class="devicon-devicon-plain colored"></i>      
                </div>
                <p>Devicon</p>
              </a>
         </div>
         <div class="tools-section-second-container">
          
         </div>
         <div class="tools-section-third-container">
          
         </div>

       </div>
    </section>
 
</body>
<app-footer></app-footer>

