<!-- Entrance Animation -->  <!-- Entrance Animation -->  <!-- Entrance Animation -->
<div 
  *ngIf="showAnimation" 
  [@fadeIn]="!hideAnimation ? 'visible' : 'hidden'" 
  [@fadeOut]="hideAnimation ? 'hidden' : 'visible'" 
  class="intro-animation"
>
  <h3 style="font-family: sans-serif;">Welcome to My Portfolio</h3>
</div>
<!-- Entrance Animation -->  <!-- Entrance Animation -->  <!-- Entrance Animation -->
<body>
  <div *ngIf="!showAnimation" >
    <app-nav-bar></app-nav-bar>
    <div class="home-page">
        <div class="home-page-left-side">
            <h1 class="home-page-title">Nikoloz Lobzhanidze</h1>
            <div class="home-page-image-container">
              <img class="home-page-image" src="/assets/images/ProfilePictureDark.jpg" alt="Image">
            </div>            
            <h1 class="home-page-title-description">FullStack Developer</h1>
            <button class="home-page-left-side-button" [routerLink]="'/Projects'">Projects</button>
        </div>
        <div class="home-page-right-side">
            <h1 class="home-page-right-side-title">Languages</h1>
            <div class="home-page-right-side-icons-container">
              <h1 class="home-page-right-side-icons-container-top-side-title">Front-End</h1>
              <div class="home-page-right-side-icons-container-top-side">
                <a class="icon-Link" href="/html">
                  <div class="html-icon">               
                       <i class="devicon-html5-plain-wordmark colored"></i>
                  </div>
              </a>
              <a class="icon-Link" href="/css">
                  <div class="css-icon">                             
                       <i class="devicon-css3-plain-wordmark colored"></i>
                 </div>
              </a>
                 <a class="icon-Link" href="/scss">
                 <div class="scss-icon">                             
                      <i class="devicon-sass-original colored"></i>
                   </div>
                  </a>
                   <a class="icon-Link" href="/javascript">
                  <div class="Javascript-icon">       
                     <i class="devicon-javascript-plain colored"></i>    
                    </div>
                  </a>
                    <a class="icon-Link" href="/typescript">
                    <div class="Typescript-icon">
                      <i class="devicon-typescript-plain colored"></i>
                    </div>
                  </a>
              </div>
             <h1 class="home-page-right-side-icons-container-bottom-side-title">Back-End</h1>
              <div class="home-page-right-side-icons-container-bottom-side">
                <a class="icon-Link" href="/Csharp">
                    <div class="Csharp-icon">
                        <i class="devicon-csharp-plain-wordmark colored"></i>
                    </div>
                  </a>
                  <a class="icon-Link" href="/sql">
                    <div class="Sql-icon">
                      <i class="devicon-azuresqldatabase-plain colored"></i>
                    </div>
                  </a>
              </div>
            </div>   
        </div>
    </div>
 <!-- TOOLS & WEBSITES SECTION -->  <!-- TOOLS & WEBSITES SECTION -->  <!-- TOOLS & WEBSITES SECTION -->
    <section class="tools-section">
       <h1 class="tools-section-title">Websites I Use</h1>
       <div class="tools-section-container">
        <!-- TOOLS SECTION FIRST CONTAINER -->   <!-- TOOLS SECTION FIRST CONTAINER -->   <!-- TOOLS SECTION FIRST CONTAINER -->
         <div class="tools-section-first-container">
              <a class="tools-section-first-container-first-icon-link" target="_blank" href="https://github.com/">
                <div class="github-icon">
                  <i class="devicon-github-original"></i>
                </div>
                <p>Github</p>
              </a>
              <a class="tools-section-first-container-second-icon-link" target="_blank" href="https://getbootstrap.com/">
                <div class="bootstrap-icon">                 
                  <i class="devicon-bootstrap-plain colored"></i>
                </div>
                <p>Bootstrap</p>
              </a>
              <a class="tools-section-first-container-third-icon-link" target="_blank" href="https://devicon.dev/">
                <div class="devicon-icon">  
                  <i class="devicon-devicon-plain colored"></i>      
                </div>
                <p>Devicon</p>
              </a>
              <a class="tools-section-first-container-fourth-icon-link" target="_blank" href="https://cssgenerator.org/">
                <img class="Css-Generator-image" src="/assets/images/Css-Generator.png" alt="Image">
                <p>Css Generator</p>
              </a>
              <a class="tools-section-first-container-fifth-icon-link" target="_blank" href="https://uiverse.io/">
                <img class="uiverse-io-image" src="/assets/images/Uiverse-io.png" alt="Image">
                <p>Uiverse.io</p>
              </a>
              <a class="tools-section-first-container-sixth-icon-link" target="_blank" href="https://colorhunt.co/">
                <img class="colors-co-image" src="/assets/images/Colors-co.png" alt="Image">
                <p>Colors.co</p>
              </a>
         </div>
        <!-- TOOLS SECTION FIRST CONTAINER -->   <!-- TOOLS SECTION FIRST CONTAINER -->   <!-- TOOLS SECTION FIRST CONTAINER -->
          <!-- TOOLS SECTION SECOND CONTAINER -->    <!-- TOOLS SECTION SECOND CONTAINER -->   <!-- TOOLS SECTION SECOND CONTAINER -->
         <div class="tools-section-second-container">
            <a class="tools-section-second-container-first-icon-link" target="_blank" href="https://convertio.co/">
              <img class="tools-section-second-container-first-Image" src="/assets/images/convertio.png" alt="Image">
              <p>Convertio</p>
            </a>
            <a class="tools-section-second-container-second-icon-link" target="_blank" href="https://fonts.google.com/">
              <img class="tools-section-second-container-second-Image" src="/assets/images/google-fonts.png" alt="Image">
              <p>Google Fonts</p>
            </a>
            <a class="tools-section-second-container-third-icon-link" target="_blank" href="https://regexr.com/">
              <img class="tools-section-second-container-third-Image" src="/assets/images/regex.png" alt="Image">
              <p>Regexr</p>
            </a>
            <a class="tools-section-second-container-fourth-icon-link" target="_blank" href="https://aws.amazon.com/">
              <img class="tools-section-second-container-fourth-Image" src="/assets/images/AWS.png" alt="Image">
              <p>AWS</p>
            </a>
            <a class="tools-section-second-container-fifth-icon-link" target="_blank" href="https://azure.microsoft.com/en-us/">
              <img class="tools-section-second-container-fifth-Image" src="/assets/images/Microsoft.png" alt="Image">
              <p>Azure</p>
            </a>
            <a class="tools-section-second-container-sixth-icon-link" target="_blank" href="https://www.w3schools.com/">
              <img class="tools-section-second-container-sixth-Image" src="/assets/images/W3-schools.png" alt="Image">
              <p>w3schools</p>
            </a>
         </div>
          <!-- TOOLS SECTION SECOND CONTAINER -->    <!-- TOOLS SECTION SECOND CONTAINER -->   <!-- TOOLS SECTION SECOND CONTAINER -->
           <!-- ADDED CONTAINER -->  <!-- ADDED CONTAINER -->   <!-- ADDED CONTAINER -->   <!-- ADDED CONTAINER -->
           <div class="added-container">
            <a class="tools-section-added-container-first-icon-link" target="_blank" href="https://www.twilio.com/en-us">
              <img class="tools-section-added-container-first-Image" src="/assets/images/twilio.png" alt="Image">
              <p>Twilio</p>
            </a>
            <a class="tools-section-added-container-second-icon-link" target="_blank" href="https://www.docker.com/">
              <img class="tools-section-added-container-second-Image" src="/assets/images/docker.png" alt="Image">
              <p>Docker</p>
            </a>
            <a class="tools-section-added-container-third-icon-link" target="_blank" href="https://www.netlify.com/">
              <img class="tools-section-added-container-third-Image" src="/assets/images/netlify.png" alt="Image">
              <p>Netlify</p>
            </a>
            <a class="tools-section-added-container-fourth-icon-link" target="_blank" href="https://vercel.com/">
              <img class="tools-section-added-container-fourth-Image" src="/assets/images/Vercel.png" alt="Image">
              <p>Vercel</p>
            </a>
            <a class="tools-section-added-container-fifth-icon-link" target="_blank" href="https://www.nuget.org/">
              <img class="tools-section-added-container-fifth-Image" src="/assets/images/Nuget.png" alt="Image">
              <p>Nuget.org</p>
            </a>
            <a class="tools-section-added-container-sixth-icon-link" target="_blank" href="https://hub.docker.com/">
              <img class="tools-section-added-container-sixth-Image" src="/assets/images/dockerSecond.png" alt="Image">
              <p>hub.docker</p>
            </a>
           </div>
           <!-- ADDED CONTAINER -->  <!-- ADDED CONTAINER -->   <!-- ADDED CONTAINER -->   <!-- ADDED CONTAINER -->
            <!-- ADDED AI-CONTAINER -->   <!-- ADDED AI-CONTAINER -->   <!-- ADDED AI-CONTAINER -->   <!-- ADDED AI-CONTAINER -->
             <div class="Ai-container">
              <a class="ai-container-first-icon-link" target="_blank" href="https://claude.ai/new">
                <img class="ai-container-first-Image" src="/assets/images/claude.png" alt="Image">
                <p>Claude.ai</p>
              </a>
              <a class="ai-container-second-icon-link" target="_blank" href="https://chat.deepseek.com/">
                <img class="ai-container-second-Image" src="/assets/images/deepseek.png" alt="Image">
                <p>DeepSeek</p>
              </a>
              <a class="ai-container-third-icon-link" target="_blank" href="https://chatgpt.com/">
                <img class="ai-container-third-Image" src="/assets/images/chatgpt.png" alt="Image">
                <p>ChatGPT</p>
              </a>
             </div>
            <!-- ADDED AI-CONTAINER -->   <!-- ADDED AI-CONTAINER -->   <!-- ADDED AI-CONTAINER -->   <!-- ADDED AI-CONTAINER -->
         <!-- TOOLS THIRD CONTAINER -->   <!-- TOOLS THIRD CONTAINER -->     <!-- TOOLS THIRD CONTAINER -->
          <h1 class="Framework-section-title">Frameworks</h1>
         <div class="tools-section-third-container">
          <a class="tools-section-third-container-first-icon-link" target="_blank" href="https://angular.dev/">
              <div class="angular-icon">
                <i class="devicon-angular-plain colored"></i>
              </div>
            <p>Angular</p>
          </a>
          <a class="tools-section-third-container-second-icon-link" target="_blank" href="https://dotnet.microsoft.com/en-us/apps/aspnet">
             <img class="tools-section-third-container-first-image" target="_blank" src="/assets/images/ASP.NET.jpg" alt="Image">
          <p>Asp.Net</p>
        </a>
        <a class="tools-section-third-container-third-icon-link" target="_blank" href="https://learn.microsoft.com/en-us/ef/">
          <img class="tools-section-third-container-second-image" src="/assets/images/Microsoft.png" alt="Image">
       <p>Entity Framework</p>
     </a>
         </div>
         <!-- TOOLS THIRD CONTAINER -->   <!-- TOOLS THIRD CONTAINER -->     <!-- TOOLS THIRD CONTAINER -->
       </div>
    </section>
 <!-- TOOLS & WEBSITES SECTION -->  <!-- TOOLS & WEBSITES SECTION -->  <!-- TOOLS & WEBSITES SECTION -->
</div>
</body>
<app-footer></app-footer>

