<main class="main">
    <ul class="main-links">
      <a [id]="isActive('/html') ? 'Active' : ''" class="main-link" href="/html">
        <li>HTML</li>
      </a>
      <a [id]="isActive('/css') ? 'Active' : ''" class="main-link" href="/css">
        <li>CSS</li>
      </a>
      <a [id]="isActive('/scss') ? 'Active' : ''" class="main-link" href="/scss">
        <li>SCSS</li>
      </a>
      <a [id]="isActive('/javascript') ? 'Active' : ''" class="main-link" href="/javascript">
        <li>JS</li>
      </a>
      <a [id]="isActive('/typescript') ? 'Active' : ''" class="main-link" href="/typescript">
        <li>TS</li>
      </a>
      <a [id]="isActive('/Csharp') ? 'Active' : ''" class="main-link" href="/Csharp">
        <li>C#</li>
      </a>
      <a [id]="isActive('/sql') ? 'Active' : ''" class="main-link" href="/sql">
        <li>SQL</li>
      </a>
    </ul>
  </main>
  