<app-nav-bar></app-nav-bar>
<body>
    <app-languages-nav-bar></app-languages-nav-bar>
    <header class="header">
    <a class="title-icon" href="/Csharp">
        <div class="html-icon">               
            <i class="devicon-csharp-plain-wordmark colored"></i>
       </div>
    </a>
</header>
  <div class="c-sharp-page">
    <section class="first-section">
        <div class="description-side">
            <p class="description">I have strong expertise in C# and SQL, specializing in back-end development. While I have basic knowledge of other programming languages, C# is where I truly excel. I always strive to write clean, well-structured code, ensuring maintainability and readability.

                Early in my journey, while working on an E-commerce project, I made the mistake of writing nearly 4,000 lines of code in a single Program.cs file. That experience taught me the importance of organizing code into separate classes and methods, which has since become a core principle in my development process.</p>
        </div>
        <!-- COPYING THE HTML  -->   <!-- COPYING THE HTML  -->   <!-- COPYING THE HTML  -->   <!-- COPYING THE HTML  -->
        <div class="images-side">
            <img (click)="openImage('assets/code/Screenshot-23.png')"  class="Ts-page-first-image" src="/assets/code/Screenshot-23.png" alt="Image">
            <div class="first-image-icon"><i class="bi bi-aspect-ratio"></i></div>
            <img (click)="openImage('assets/code/Screenshot-24.png')"  class="Ts-page-second-image" src="/assets/code/Screenshot-24.png" alt="Image">
            <div class="second-image-icon"><i class="bi bi-aspect-ratio"></i></div>
            <img (click)="openImage('assets/code/Screenshot-25.png')"  class="Ts-page-third-image" src="/assets/code/Screenshot-25.png" alt="Image">
            <div class="third-image-icon"><i class="bi bi-aspect-ratio"></i></div>
        </div>
        <!-- COPYING THE HTML  -->   <!-- COPYING THE HTML  -->   <!-- COPYING THE HTML  -->   <!-- COPYING THE HTML  -->
    </section>
    <section class="second-section">
        <div class="description-side">
            <p class="description">To enhance clarity, I always document my code with comments every method I write includes a comment explaining its purpose. I believe this is crucial for collaboration, making it easier for other developers (and my future self) to understand the code.

                I am currently working with .NET 8, which allows me to write efficient and modern code, especially when working with Entity Framework.
                
                If you want to learn more about my back-end experience, check out the Back-End page.</p>
        </div>
        <!-- COPYING THE HTML  -->   <!-- COPYING THE HTML  -->   <!-- COPYING THE HTML  -->   <!-- COPYING THE HTML  -->
        <div class="images-side">
            <img (click)="openImage('assets/code/Screenshot-26.png')"  class="Ts-page-first-image" src="/assets/code/Screenshot-26.png" alt="Image">
            <div class="first-image-icon"><i class="bi bi-aspect-ratio"></i></div>
            <img (click)="openImage('assets/code/Screenshot-27.png')"  class="Ts-page-second-image" src="/assets/code/Screenshot-27.png" alt="Image">
            <div class="second-image-icon"><i class="bi bi-aspect-ratio"></i></div>
            <img (click)="openImage('assets/code/Screenshot-28.png')"  class="Ts-page-third-image" src="/assets/code/Screenshot-28.png" alt="Image">
            <div class="third-image-icon"><i class="bi bi-aspect-ratio"></i></div>
        </div>
        <!-- COPYING THE HTML  -->   <!-- COPYING THE HTML  -->   <!-- COPYING THE HTML  -->   <!-- COPYING THE HTML  -->
    </section>
  </div>
    <app-tr-footer></app-tr-footer>
</body>
<!-- This Is for Open Image-modal-component -->
<app-image-modal #imageModal></app-image-modal> 
<!-- This Is for Open Image-modal-component -->