<nav id="nav-bar" class="nav-bar">
    <div class="nav-bar-left-side">
      <h1 class="nav-bar-title">Developer</h1>
    </div>
    <div class="nav-bar-right-side">
      <ul class="nav-bar-links">
        <a id="nav-bar-link-main" class="nav-bar-link" href="/home">
            <li>
              <span class="letter">H</span>
              <span class="letter">o</span>
              <span class="letter">m</span>
              <span class="letter">e</span>
            </li>
          </a>
        <a class="nav-bar-link" href="/Me"><li>About Me</li></a>
        <a class="nav-bar-link" href="/Projects"><li>Projects</li></a>
        <a class="nav-bar-link" href="/Skills"><li>Skills</li></a>
      </ul>
    </div>
  </nav>
  