/// MIXINS  /// MIXINS  /// MIXINS  /// MIXINS
@mixin Images-Styles {
  width: 450px;
  height: 300px;
  border-radius: 10px;
  transition: filter 300ms ease-in-out;
  cursor: pointer;  
  &:hover {
    filter: brightness(70%);
  }
}
@mixin Icons-Styles {
  display: none;
  color: #fff;
  position: absolute;
  font-size: 40px;
  top: 50%;
  left: 50%;
  pointer-events: none;
}
@mixin Sections-Styles{
  height: auto;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin Images-Side-Styles {
            display: flex;
            flex-wrap: wrap;
            margin-top: 40px;
            gap: 20px;
            justify-content: center;
            align-items: center;
}
/// MIXINS  /// MIXINS  /// MIXINS  /// MIXINS
body{
    height: auto; 
    background: #000000;
    background: #000000;
    font-family: sans-serif;
    background: linear-gradient(270deg,#000000 20%, #0055ff 60%);
    background: -webkit-linear-gradient(270deg,#000000 20%, #0055ff 60%);
    background: -moz-linear-gradient(270deg,#000000 20%, #0055ff 60%);
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80px;
        margin-top: 30px;
        padding-bottom: 50px;
        .title-icon {
          text-decoration: none;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100px;
          height: 100%;
          .typescript-icon {
            font-size: 90px;
          }
        }
      }
      .typescript-page{
        color: #Fff;
        height: auto; 
        padding-bottom: 100px;
        .first-section{
        @include Sections-Styles();
          .description{
            width: 700px;
            text-align: center;
            font-size: 18px;
          }
          .images-side{
           @include Images-Side-Styles();
            .Ts-page-first-image{
              @include Images-Styles();
            }
            .Ts-page-second-image{
              @include Images-Styles();
            }
            .Ts-page-third-image{
              @include Images-Styles();
            }
            .first-image-icon{
              @include Icons-Styles();
              transform: translate(-1250%, 300%);  
            }
            .second-image-icon{
              @include Icons-Styles();
              transform: translate(-50%, 300%);          
            }
            .third-image-icon{
              @include Icons-Styles();
              transform: translate(1150%, 300%);          
            }
            .Ts-page-first-image:hover + .first-image-icon {
              display: block;
            }
            .Ts-page-second-image:hover + .second-image-icon {
              display: block;
            }
            .Ts-page-third-image:hover + .third-image-icon {
              display: block;
            }
          }
        }
        .second-section{
          @include Sections-Styles();
          .description{
            width: 700px;
            text-align: center;
            font-size: 18px;
          }
          .images-side{
            @include Images-Side-Styles();
            .Ts-page-first-image{
              @include Images-Styles();
            }
            .Ts-page-second-image{
              @include Images-Styles();
            }
            .Ts-page-third-image{
              @include Images-Styles();
            }
            .first-image-icon{
              @include Icons-Styles();
              transform: translate(-1250%, 1450%);  
            }
            .second-image-icon{
              @include Icons-Styles();
              transform: translate(-50%, 1450%);          
            }
            .third-image-icon{
              @include Icons-Styles();
              transform: translate(1150%, 1450%);          
            }
            .Ts-page-first-image:hover + .first-image-icon {
              display: block;
            }
            .Ts-page-second-image:hover + .second-image-icon {
              display: block;
            }
            .Ts-page-third-image:hover + .third-image-icon {
              display: block;
            }
          }

        }
        .third-section{
          @include Sections-Styles();
          .description{
            width: 700px;
            text-align: center;
            font-size: 18px;
          }
          .images-side{
            @include Images-Side-Styles();
            .Ts-page-first-image{
              @include Images-Styles();
            }
            .Ts-page-second-image{
              @include Images-Styles();
            }
            .Ts-page-third-image{
              @include Images-Styles();
            }
            .first-image-icon{
              @include Icons-Styles();
              transform: translate(-1250%, 2450%);  
            }
            .second-image-icon{
              @include Icons-Styles();
              transform: translate(-50%, 2450%);          
            }
            .third-image-icon{
              @include Icons-Styles();
              transform: translate(1150%, 2450%);          
            }
            .Ts-page-first-image:hover + .first-image-icon {
              display: block;
            }
            .Ts-page-second-image:hover + .second-image-icon {
              display: block;
            }
            .Ts-page-third-image:hover + .third-image-icon {
              display: block;
            }
          }

        }
      }
}
/// RESPONSIVE
@media screen and (min-width: 360px) and (max-width: 400px) {
  body{
    .typescript-page{
      .first-section{
        .images-side{
          .Ts-page-first-image{
            width: 360px;
          }
          .Ts-page-second-image{
            width: 360px;
          }
          .Ts-page-third-image{
            width: 360px;
          }
        }
      }
      .second-section{
        .images-side{
          .Ts-page-first-image{
            width: 360px;
          }
          .Ts-page-second-image{
            width: 360px;
          }
          .Ts-page-third-image{
            width: 360px;
          }    
        }
      }
      .third-section{
        .images-side{
          .Ts-page-first-image{
            width: 360px;
          }
          .Ts-page-second-image{
            width: 360px;
          }
          .Ts-page-third-image{
            width: 360px;
          }    
        }
      }
    }
  }
}
/// RESPONSIVE
/// RESPONSIVE 480 PX  /// RESPONSIVE 480 PX  /// RESPONSIVE 480 PX  /// RESPONSIVE 480 PX  /// RESPONSIVE 480 PX
/// RESPONSIVE 480 PX  /// RESPONSIVE 480 PX  /// RESPONSIVE 480 PX  /// RESPONSIVE 480 PX  /// RESPONSIVE 480 PX
@media screen and (max-width: 480px) {
  body{
    .typescript-page{
      .first-section{
        .description{
          width: 400px !important;
        }
        .images-side{
          .first-image-icon{
            transform: translate(-50%, 520%) !important;  
          }
          .second-image-icon{
            transform: translate(-50%, 1300%) !important;  
          }
          .third-image-icon{
            transform: translate(-50%, 1950%) !important;  
          }
        }
      }
      .second-section{
        .description{
          width: 400px !important;
        }
        .images-side{
          .first-image-icon{
            transform: translate(-50%, 3250%) !important;  
          }
          .second-image-icon{
            transform: translate(-50%, 3950%) !important;  
          }
          .third-image-icon{
            transform: translate(-50%, 4650%) !important;  
          }
        }
      }
      .third-section{
        .description{
          width: 400px !important;
        }
        .images-side{
          .first-image-icon{
            transform: translate(-50%, 5800%) !important;  
          }
          .second-image-icon{
            transform: translate(-50%, 6500%) !important;  
          }
          .third-image-icon{
            transform: translate(-50%, 7200%) !important;  
          }
        }
      }
    }
  }
}
/// RESPONSIVE 480 PX  /// RESPONSIVE 480 PX  /// RESPONSIVE 480 PX  /// RESPONSIVE 480 PX  /// RESPONSIVE 480 PX
/// RESPONSIVE 480 PX  /// RESPONSIVE 480 PX  /// RESPONSIVE 480 PX  /// RESPONSIVE 480 PX  /// RESPONSIVE 480 PX
/// RESPONSIVE 768 PX   /// RESPONSIVE 768 PX  /// RESPONSIVE 768 PX  /// RESPONSIVE 768 PX  /// RESPONSIVE 768 PX
/// RESPONSIVE 768 PX   /// RESPONSIVE 768 PX  /// RESPONSIVE 768 PX  /// RESPONSIVE 768 PX  /// RESPONSIVE 768 PX
@media screen and (max-width: 768px) {
  body{
    .typescript-page{
      .first-section{
        .description{
          width: 700px;
        }
        .images-side{
          .first-image-icon{
            transform: translate(-50%, 430%);  
          }
          .second-image-icon{
            transform: translate(-50%, 1150%);  
          }
          .third-image-icon{
            transform: translate(-50%, 1850%);  
          }
        }
      }
      .second-section{
        .description{
          width: 700px;
        }
        .images-side{
          .first-image-icon{
            transform: translate(-50%, 3000%);  
          }
          .second-image-icon{
            transform: translate(-50%, 3650%);  
          }
          .third-image-icon{
            transform: translate(-50%, 4350%);  
          }
        }
      }
      .third-section{
        .description{
          width: 700px;
        }
        .images-side{
          .first-image-icon{
            transform: translate(-50%, 5400%);  
          }
          .second-image-icon{
            transform: translate(-50%, 6000%);  
          }
          .third-image-icon{
            transform: translate(-50%, 6750%);  
          }
        }
      }
    }
  }
}
/// RESPONSIVE 768 PX   /// RESPONSIVE 768 PX  /// RESPONSIVE 768 PX  /// RESPONSIVE 768 PX  /// RESPONSIVE 768 PX
/// RESPONSIVE 768 PX   /// RESPONSIVE 768 PX  /// RESPONSIVE 768 PX  /// RESPONSIVE 768 PX  /// RESPONSIVE 768 PX
/// LIGHT MODE  /// LIGHT MODE  /// LIGHT MODE /// LIGHT MODE  /// LIGHT MODE  /// LIGHT MODE  /// LIGHT MODE
/// LIGHT MODE  /// LIGHT MODE  /// LIGHT MODE /// LIGHT MODE  /// LIGHT MODE  /// LIGHT MODE  /// LIGHT MODE
:host-context([theme="light"]) {
  body{
    background: #fff;
    .typescript-page{
      color: #000;
    }
  }
}

/// LIGHT MODE  /// LIGHT MODE  /// LIGHT MODE /// LIGHT MODE  /// LIGHT MODE  /// LIGHT MODE  /// LIGHT MODE
/// LIGHT MODE  /// LIGHT MODE  /// LIGHT MODE /// LIGHT MODE  /// LIGHT MODE  /// LIGHT MODE  /// LIGHT MODE
