

<app-nav-bar></app-nav-bar>
<body>
    <app-languages-nav-bar></app-languages-nav-bar>
    <header class="header">
        <a class="title-icon" href="/html">
            <div class="typescript-icon">               
                <i class="devicon-typescript-plain colored"></i>
           </div>
        </a>
    </header>
    <div class="typescript-page">
        <section class="first-section">
            <p class="description">I have extensive experience with TypeScript, especially within the Angular framework. TypeScript, combined with Angular’s powerful features, allows me to build dynamic, functional, and efficient web applications with ease. I take full advantage of Angular’s components, services, and CLI tools, ensuring a smooth development process and a high-quality user experience.</p>
           <div class="images-side">
            <img (click)="openImage('assets/code/Screenshot-8.png')"  class="Ts-page-first-image" src="/assets/code/Screenshot-8.png" alt="Image">
            <div class="first-image-icon"><i class="bi bi-aspect-ratio"></i></div>
            <img (click)="openImage('assets/code/Screenshot-9.png')"  class="Ts-page-second-image" src="/assets/code/Screenshot-9.png" alt="Image">
            <div class="second-image-icon"><i class="bi bi-aspect-ratio"></i></div>
            <img (click)="openImage('assets/code/Screenshot-10.png')"  class="Ts-page-third-image" src="/assets/code/Screenshot-10.png" alt="Image">
            <div class="third-image-icon"><i class="bi bi-aspect-ratio"></i></div>
           </div>
        </section>
        <section class="second-section">
            <p class="description">From the very beginning, I have prioritized clean and well-documented code. Adding comments near functions and voids has always been my practice, making it easier to understand and maintain code over time. Writing structured, readable, and scalable code is crucial—not only for me but for other developers working on the project. A well-organized codebase saves time and effort, ensuring smooth collaboration and future updates.</p>
            <div class="images-side">
                <img (click)="openImage('assets/code/Screenshot-8.png')"  class="Ts-page-first-image" src="/assets/code/Screenshot-8.png" alt="Image">
                <div class="first-image-icon"><i class="bi bi-aspect-ratio"></i></div>
                <img (click)="openImage('assets/code/Screenshot-9.png')"  class="Ts-page-second-image" src="/assets/code/Screenshot-9.png" alt="Image">
                <div class="second-image-icon"><i class="bi bi-aspect-ratio"></i></div>
                <img (click)="openImage('assets/code/Screenshot-10.png')"  class="Ts-page-third-image" src="/assets/code/Screenshot-10.png" alt="Image">
                <div class="third-image-icon"><i class="bi bi-aspect-ratio"></i></div>
               </div>
        </section>
        <section class="third-section">
            <p class="description">For me, TypeScript is the best language for front-end development, and Angular makes it even more powerful. Whether it’s handling complex logic, managing state efficiently, or optimizing performance, I leverage these technologies to build reliable and high-performance web applications.</p>
            <div class="images-side">
                <img (click)="openImage('assets/code/Screenshot-8.png')"  class="Ts-page-first-image" src="/assets/code/Screenshot-8.png" alt="Image">
                <div class="first-image-icon"><i class="bi bi-aspect-ratio"></i></div>
                <img (click)="openImage('assets/code/Screenshot-9.png')"  class="Ts-page-second-image" src="/assets/code/Screenshot-9.png" alt="Image">
                <div class="second-image-icon"><i class="bi bi-aspect-ratio"></i></div>
                <img (click)="openImage('assets/code/Screenshot-10.png')"  class="Ts-page-third-image" src="/assets/code/Screenshot-10.png" alt="Image">
                <div class="third-image-icon"><i class="bi bi-aspect-ratio"></i></div>
               </div>
        </section>
    </div>
    <app-tr-footer></app-tr-footer>
</body>





<!-- This Is for Open Image-modal-component -->
<app-image-modal #imageModal></app-image-modal> 
<!-- This Is for Open Image-modal-component -->