body{
    height: 900px;
    background: #000000;
    background: linear-gradient(270deg,#000000 10%, #7c0000 60%);
    background: -webkit-linear-gradient(270deg,#000000 10%, #7c0000 60%);
    background: -moz-linear-gradient(270deg,#000000 10%, #7c0000 60%);
}