body {
  height: auto;
  background: #000000;
  background: linear-gradient(270deg, #000000 10%, #7c0000 60%);
  background: -webkit-linear-gradient(270deg, #000000 10%, #7c0000 60%);
  background: -moz-linear-gradient(270deg, #000000 10%, #7c0000 60%);
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    margin-top: 30px;
    .title-icon {
      text-decoration: none;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 100%;
      .html-icon {
        font-size: 90px;
      }
    }
  }
  .html-page {
    height: auto;
    padding-bottom: 150px;
    /// FIRST SECTION  /// FIRST SECTION  /// FIRST SECTION  /// FIRST SECTION
    /// FIRST SECTION  /// FIRST SECTION  /// FIRST SECTION  /// FIRST SECTION
    .html-page-first-section {
      height: auto;
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      .html-page-first-section-left-side {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .html-page-first-description {
          color: #fff;
          width: 700px;
          font-size: 18px;
          text-align: center;
          font-family: sans-serif;
          letter-spacing: 1px;
        }
      }
      .html-page-first-section-right-side {
        width: 100%;
        display: flex;
        margin-top: 40px;
        .html-page-first-section-right-side-first-container {
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          position: relative;
          .html-page-first-section-first-title {
            color: #fff;
            font-family: sans-serif;
          }
          .html-page-first-section-first-image {
            width: 500px;
            margin-top: 20px;
            height: 80%;
            cursor: pointer;
            border-radius: 10px;
            transition: filter 300ms ease-in-out;
            &:hover {
              filter: brightness(70%);
            }
          }
          .first-image-icon {
            display: none;
            color: #fff;
            position: absolute;
            font-size: 40px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            pointer-events: none;
          }
          .html-page-first-section-first-image:hover + .first-image-icon {
            display: block;
          }
        }
        .html-page-first-section-right-side-second-container {
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          position: relative;
          .html-page-first-section-second-title {
            color: #fff;
            font-family: sans-serif;
          }
          .html-page-first-section-second-image {
            width: 400px;
            margin-top: 20px;
            height: 80%;
            cursor: pointer;
            border-radius: 10px;
            transition: filter 300ms ease-in-out;
            &:hover {
              filter: brightness(70%);
            }
          }
          .second-image-icon {
            display: none;
            color: #fff;
            position: absolute;
            font-size: 40px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            pointer-events: none;
          }
          .html-page-first-section-second-image:hover + .second-image-icon {
            display: block;
          }
        }
      }
    }
    /// FIRST SECTION  /// FIRST SECTION  /// FIRST SECTION  /// FIRST SECTION
    /// FIRST SECTION  /// FIRST SECTION  /// FIRST SECTION  /// FIRST SECTION
    /// SECOND SECTION  /// SECOND SECTION  /// SECOND SECTION  /// SECOND SECTION
    /// SECOND SECTION  /// SECOND SECTION  /// SECOND SECTION  /// SECOND SECTION
    .html-page-second-section {
      height: auto;
      display: flex;
      margin-top: 40px;
      flex-direction: column;
      .html-page-second-section-left-side {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .html-page-first-description {
          color: #fff;
          width: 700px;
          font-size: 18px;
          text-align: center;
          font-family: sans-serif;
          letter-spacing: 1px;
        }
      }
      .html-page-second-section-right-side {
        width: 100%;
        display: flex;
        .html-page-second-section-right-side-first-container {
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          position: relative;
          .html-page-second-section-first-title {
            color: #fff;
            font-family: sans-serif;
          }
          .html-page-second-section-first-image {
            width: 500px;
            object-fit: cover;
            margin-top: 20px;
            height: 90%;
            cursor: pointer;
            border-radius: 10px;
            transition: filter 300ms ease-in-out;
            &:hover {
              filter: brightness(70%);
            }
          }
          .third-image-icon {
            display: none;
            color: #fff;
            position: absolute;
            font-size: 40px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            pointer-events: none;
          }
          .html-page-second-section-first-image:hover + .third-image-icon {
            display: block;
          }
        }
        .html-page-second-section-right-side-second-container {
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          position: relative;
          .html-page-second-section-second-title {
            color: #fff;
            font-family: sans-serif;
          }
          .html-page-second-section-second-image {
            width: 500px;
            margin-top: 20px;
            height: 90%;
            cursor: pointer;
            border-radius: 10px;
            transition: filter 300ms ease-in-out;
            &:hover {
              filter: brightness(70%);
            }
          }
          .fourth-image-icon {
            display: none;
            color: #fff;
            position: absolute;
            font-size: 40px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            pointer-events: none;
          }
          .html-page-second-section-second-image:hover + .fourth-image-icon {
            display: block;
          }
        }
      }
    }
    /// SECOND SECTION  /// SECOND SECTION  /// SECOND SECTION  /// SECOND SECTION
    /// SECOND SECTION  /// SECOND SECTION  /// SECOND SECTION  /// SECOND SECTION
    /// THIRD SECTION /// THIRD SECTION /// THIRD SECTION /// THIRD SECTION
    /// THIRD SECTION /// THIRD SECTION /// THIRD SECTION /// THIRD SECTION
    .html-page-third-section {
      height: auto;
      display: flex;
      flex-direction: column;
      margin-top: 40px;
      .html-page-third-section-left-side {
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        .html-page-first-description {
          color: #fff;
          width: 700px;
          font-size: 18px;
          text-align: center;
          font-family: sans-serif;
          letter-spacing: 1px;
        }
      }
      .html-page-third-section-right-side {
        width: 100%;
        height: 70%;
        display: flex;
        .html-page-third-section-right-side-first {
          height: 100%;
          width: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: relative;
          .html-page-third-section-first-title {
            color: #fff;
            font-family: sans-serif;
            margin-bottom: 20px;
          }
          .html-page-third-section-first-image {
            width: 500px;
            height: 400px;
            height: 85%;
            cursor: pointer;
            border-radius: 10px;
            transition: filter 300ms ease-in-out;
            &:hover {
              filter: brightness(70%);
            }
          }
          .fifth-image-icon {
            display: none;
            color: #fff;
            position: absolute;
            font-size: 40px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            pointer-events: none;
          }
          .html-page-third-section-first-image:hover + .fifth-image-icon {
            display: block;
          }
        }
        .html-page-third-section-right-side-second {
          height: 100%;
          width: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: relative;
          .html-page-third-section-second-title {
            color: #fff;
            font-family: sans-serif;
            margin-bottom: 20px;
          }
          .html-page-third-section-second-image {
            width: 500px;
            height: 400px;
            height: 85%;
            cursor: pointer;
            border-radius: 10px;
            transition: filter 300ms ease-in-out;
            &:hover {
              filter: brightness(70%);
            }
          }
          .sixth-image-icon {
            display: none;
            color: #fff;
            position: absolute;
            font-size: 40px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            pointer-events: none;
          }
          .html-page-third-section-second-image:hover + .sixth-image-icon {
            display: block;
          }
        }
      }
    }
    /// THIRD SECTION /// THIRD SECTION /// THIRD SECTION /// THIRD SECTION
    /// THIRD SECTION /// THIRD SECTION /// THIRD SECTION /// THIRD SECTION
  }
}
///RESPONSIVE
@media screen and (min-width: 360px) and (max-width: 400px) {
  body {
    .html-page{
      .html-page-first-section{
        .html-page-first-section-right-side{
        .html-page-first-section-right-side-first-container{
          .html-page-first-section-first-image{
            width: 360px;
          }
        }
        .html-page-first-section-right-side-second-container{
          .html-page-first-section-second-image{
            width: 360px;
          }
        }
      }
      }
      .html-page-second-section{
        .html-page-second-section-right-side{
        .html-page-second-section-right-side-first-container{
          .html-page-second-section-first-image{
            width: 360px;
          }
        }
        .html-page-second-section-right-side-second-container{
          .html-page-second-section-second-image{
            width: 360px;
          }
        }
      }
      }
      .html-page-third-section{
      .html-page-third-section-right-side{
        .html-page-third-section-right-side-first{
          .html-page-third-section-first-image{
            width: 360px;
  
          }
        }
        .html-page-third-section-right-side-second{
          .html-page-third-section-second-image{
            width: 360px;
  
          }
        }
      }
    
      }
    }
  }
}
///RESPONSIVE
/// RESPONSIVE 480 PX  /// RESPONSIVE 480 PX  /// RESPONSIVE 480 PX  /// RESPONSIVE 480 PX
/// RESPONSIVE 480 PX  /// RESPONSIVE 480 PX  /// RESPONSIVE 480 PX  /// RESPONSIVE 480 PX
@media screen and (max-width: 480px) {
  body {
    .html-page {
      .html-page-first-section {
        .html-page-first-section-right-side {
          flex-direction: column;
          .html-page-first-section-right-side-first-container {
            width: 95%;
          }
          .html-page-first-section-right-side-second-container {
            margin-top: 40px;
            width: 95%;
          }
        }
      }
      .html-page-second-section {
        .html-page-second-section-right-side {
          flex-direction: column;
          .html-page-second-section-right-side-first-container {
            margin-top: 40px;
            width: 95%;
          }
          .html-page-second-section-right-side-second-container {
            margin-top: 40px;
            width: 95%;
          }
        }
      }
      .html-page-third-section {
        .html-page-third-section-right-side {
          flex-direction: column;
          .html-page-third-section-right-side-first {
            width: 95%;
            margin-top: 40px;
          }
          .html-page-third-section-right-side-second {
            width: 95%;
            margin-top: 40px;
          }
        }
      }
    }
  }
}
/// RESPONSIVE 480 PX  /// RESPONSIVE 480 PX  /// RESPONSIVE 480 PX  /// RESPONSIVE 480 PX
/// RESPONSIVE 480 PX  /// RESPONSIVE 480 PX  /// RESPONSIVE 480 PX  /// RESPONSIVE 480 PX

/// RESPONSIVE 768 PX  /// RESPONSIVE 768 PX  /// RESPONSIVE 768 PX  /// RESPONSIVE 768 PX
/// RESPONSIVE 768 PX  /// RESPONSIVE 768 PX  /// RESPONSIVE 768 PX  /// RESPONSIVE 768 PX
@media screen and (max-width: 768px) {
  body {
    .html-page {
      .html-page-first-section {
        .html-page-first-section-right-side {
          flex-direction: column;
          .html-page-first-section-right-side-first-container {
            width: 95%;
          }
          .html-page-first-section-right-side-second-container {
            margin-top: 40px;
            width: 95%;
          }
        }
      }
      .html-page-second-section {
        .html-page-second-section-right-side {
          flex-direction: column;
          .html-page-second-section-right-side-first-container {
            margin-top: 40px;
            width: 95%;
          }
          .html-page-second-section-right-side-second-container {
            margin-top: 40px;
            width: 95%;
          }
        }
      }
      .html-page-third-section {
        .html-page-third-section-right-side {
          flex-direction: column;
          .html-page-third-section-right-side-first {
            width: 95%;
            margin-top: 40px;
          }
          .html-page-third-section-right-side-second {
            width: 95%;
            margin-top: 40px;
          }
        }
      }
    }
  }
}
/// RESPONSIVE 768 PX  /// RESPONSIVE 768 PX  /// RESPONSIVE 768 PX  /// RESPONSIVE 768 PX
/// RESPONSIVE 768 PX  /// RESPONSIVE 768 PX  /// RESPONSIVE 768 PX  /// RESPONSIVE 768 PX
/// LIGHT MODE  /// LIGHT MODE  /// LIGHT MODE /// LIGHT MODE  /// LIGHT MODE  /// LIGHT MODE  /// LIGHT MODE
/// LIGHT MODE  /// LIGHT MODE  /// LIGHT MODE /// LIGHT MODE  /// LIGHT MODE  /// LIGHT MODE  /// LIGHT MODE

:host-context([theme="light"]) {
  body{
    background: #fff;
    .html-page{
      .html-page-first-section{
        .html-page-first-section-left-side{
          .html-page-first-description{
            color: #000;
          }
        }
        .html-page-first-section-right-side{
          .html-page-first-section-right-side-first-container{
            .html-page-first-section-first-title {
              color: #000;
            }
          }
          .html-page-first-section-right-side-second-container{
            .html-page-first-section-second-title {
              color: #000;
            }
            .second-image-icon {
              color: #000;
            }
          }
        }     
      }
      .html-page-second-section{
        .html-page-second-section-left-side{
          .html-page-first-description{
            color: #000;
          }
        }
        .html-page-second-section-right-side{
          .html-page-second-section-right-side-first-container{
            .html-page-second-section-first-title {
              color: #000;
            }
          }
          .html-page-second-section-right-side-second-container{
            .html-page-second-section-second-title {
              color: #000;
            }
            .second-image-icon {
              color: #000;
            }
          }
        }     
      }
      .html-page-third-section{
        .html-page-third-section-left-side{
          .html-page-first-description{
            color: #000;
          }
        }
        .html-page-third-section-right-side{
          .html-page-third-section-right-side-first{
            .html-page-third-section-first-title {
              color: #000;
            }
          }
          .html-page-third-section-right-side-second{
            .html-page-third-section-second-title {
              color: #000;
            }
            .third-image-icon {
              color: #000;
            }
          }
        }     
      }
    }
  }
}
/// LIGHT MODE  /// LIGHT MODE  /// LIGHT MODE /// LIGHT MODE  /// LIGHT MODE  /// LIGHT MODE  /// LIGHT MODE
/// LIGHT MODE  /// LIGHT MODE  /// LIGHT MODE /// LIGHT MODE  /// LIGHT MODE  /// LIGHT MODE  /// LIGHT MODE
