<body>
    <app-nav-bar></app-nav-bar>
    <div class="about-me-container">
        <div class="heading-container">
            <h1 class="heading">About Me</h1>
        </div>
        <div class="content-container">
            <p class="introduction">
                I am a 19-year-old developer who graduated from the IT Step Academy Georgia in March 2025. I successfully completed a full-stack development course, where I gained expertise in both front-end and back-end technologies. During this journey, I’ve developed a strong foundation in coding, problem-solving, and building dynamic applications, and I’m proud to share these skills.
            </p>        
            <img style="cursor: pointer;" src="/assets/images/STEP.svg" alt="Image" (click)="goToLink()">
            <div class="skills">
                <h2 class="section-heading">Skills</h2>
                <ul>
                    <li>Knowledge in IT Fundamentals: Familiar with concepts covered in CompTIA A+, including hardware, software, networking</li>
                    <li>Frontend Development: Proficient in HTML, CSS, SCSS, JavaScript, TypeScript, and the Angular framework</li>
                    <li>Backend Development: Skilled in C#, ASP.NET, and .NET Core</li>
                    <li>Backend tools and Service: Skilled in Dotnet, with expertise in implementing email functionality using SMTP and Twilio</li>
                    <li>Database Management: Strong understanding of SQL and Entity Framework</li>
                    <li>Additional Knowledge: Basic experience with Python, Kotlin, and WPF</li>
                </ul>                
            </div>
            <div class="github">
                <h2 class="section-heading">My GitHub</h2>
                <p class="github-text">
                    My favorite platform for collaborating with other developers is GitHub. You can check out Codes of my projects and connect with me at: 
                    <a href="https://github.com/Nikoloz911" target="_blank" class="github-link">Nikoloz911</a>.
                </p>
            </div>
            <div class="goals">
                <h2 class="section-heading">My Goal</h2>
                <p class="goal-text">
                    My ultimate goal is to work in my field of expertise, create efficient and scalable web applications, explore DevOps engineering and cloud services. Continuously improve my skills to become a Better Developer.
                </p>                
            </div>
        </div>
    </div>
</body>
<app-footer></app-footer>
