<body>
    <app-nav-bar></app-nav-bar>
    <div class="about-me-container">
        <div class="heading-container">
            <h1 class="heading">About Me</h1>
        </div>
        <div class="content-container">
            <p class="introduction">
                I am a 19-year-old developer who graduated from the IT Step Academy Georgia in March 2025. During my journey, I've learned a variety of technologies and skills that I’m proud to share.
            </p>
            <div class="skills">
                <h2 class="section-heading">Skills</h2>
                <ul>
                    <li>Knowledge in: CompTIA A+</li>
                    <li>Frontend: HTML, CSS, SCSS, JavaScript, TypeScript, Angular Framework</li>
                    <li>Backend: C#, ASP.NET, .NET Core</li>
                    <li>Tools in Backend: Dotnet, SMTP (creating styled emails with attachments), Twilio</li>
                    <li>Database Management: SQL, Entity Framework</li>
                    <li>Basic Knowledge: Python, Kotlin, WPF</li>
                </ul>
            </div>
            <div class="github">
                <h2 class="section-heading">My GitHub</h2>
                <p class="github-text">
                    My favorite platform for collaborating with other developers is GitHub. You can check out Codes of my projects and connect with me at: 
                    <a href="https://github.com/Nikoloz911" target="_blank" class="github-link">Nikoloz911</a>.
                </p>
            </div>
            <div class="goals">
                <h2 class="section-heading">My Goal</h2>
                <p class="goal-text">
                    My ultimate goal is to work in my field of expertise, create efficient and scalable web applications, explore DevOps engineering, utilize cloud services, and continuously improve my skills to become a better developer.
                </p>                
            </div>
        </div>
    </div>
</body>
<app-footer></app-footer>
